body { background: rosybrown;
font-family:Arial,sans-serif;}

.business-card {width: 		300px;
		padding: 	20px;
		margin:		100px auto 0px;
		text-align: 	center;
		font-size:	16px;
		background: 	indianred	}

.profile-image{	max-width: 	100%;		}
p {		margin: 	5px 0px;	}

a { 		text-decoration:none;		}
